project_name         = "health-devops"
aws_region           = "us-east-1"
instance_type        = "t2.medium"
create_key_pair      = true
generated_key_name   = "health-devops-key"
# key_name           = "existing-keypair-name"
allowed_ssh_cidr     = "0.0.0.0/0"
allowed_ingress_cidr = "0.0.0.0/0"
root_volume_size     = 30